<h1>Dashboard</h1>

<div class="status-filtering">
  <li><%= link_to "See All", dashboard_path %></li>
  <li><%= link_to "Unsubmitted", dashboard_path(:status => "unsubmitted") %></li>
  <li><%= link_to "Paid", dashboard_path(:status => "paid") %></li>
  <li><%= link_to "Ordered", dashboard_path(:status => "ordered") %></li>
  <li><%= link_to "Cancelled", dashboard_path(:status => "cancelled") %></li>
  <li><%= link_to "Completed", dashboard_path(:status => "completed") %></li>
</div>

<h2>Orders by Status</h2>

<%= render partial: 'dashboard/orders/order_table', locals: { orders: @filtered_orders } %>
<% if @filtered_orders.empty? %>
  No orders found
<% end %>

<h2>Restaurants by Status</h2>

<%= render partial: 'dashboard/restaurants/restaurant_table', locals: {restaurants: @restaurants} %>

