<%= form_for current_user, url: guest_confirm_purchase_path, method: "POST" do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% current_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :credit_card_number %><br />
    <%= f.text_field :credit_card_number %>
  </p>

  <h2>Billing Address:</h2>
  Default Shipping Address<br><br>
  <p>
    <%= f.label :Street %><br />
    <%= f.text_field :billing_street %>
  </p>
   <p>
    <%= f.label :City %><br />
    <%= f.text_field :billing_city %>
  </p>
   <p>
    <%= f.label :Apt %><br />
    <%= f.text_field :billing_apt %>
  </p>
   <p>
    <%= f.label :State %><br />
    <%= f.text_field :billing_state %>
  </p>
  <p>
    <%= f.label :Zip %><br />
    <%= f.text_field :billing_zip_code %>
  </p>
  <h2>Shipping Information:</h2>
  If different from billing address
  <br><br>
  <p>
    <%= f.label :Street %><br />
    <%= f.text_field :shipping_street %>
  </p>
   <p>
    <%= f.label :City %><br />
    <%= f.text_field :shipping_city %>
  </p>
   <p>
    <%= f.label :Apt %><br />
    <%= f.text_field :shipping_apt %>
  </p>
   <p>
    <%= f.label :State %><br />
    <%= f.text_field :shipping_state %>
  </p>
  <p>
    <%= f.label :Zip %><br />
    <%= f.text_field :shipping_zip_code %>
  </p>

  <p class="button"><%= f.submit "Submit Order", :class => 'btn btn-sm btn-primary'%></p>
<% end %>

