<% cache restaurant do %>
  <div class="span4 well well-sm">
    <div class="item">
      <div class="item-image">
        <div class="image-display">
          <%= link_to restaurant_name_path(restaurant.slug) do %>
            <%= image_tag restaurant.image_file_name, class: "front-page-images img-circle" %>
          <% end %>
        </div>
      </div>
      <div class="item-details">
        <font size="5em">
          <%= restaurant.title[0..21] %>
          <%= "" if restaurant.title.length > 21 %>
          <br />
          <%= link_to 'View Menu', restaurant_name_path(restaurant.slug), class: "item-show btn btn-xs btn-warning", id: "btn-view-menu-#{restaurant.id}" %>
        </font>
      </div>
    </div>
  </div>
<% end %>
